

#mainhead
{
    text-align: center;
     
}
#inp,#inp1, #btn
{
    font-size: 15px;
    padding: 10px;
    text-align: center;
   
 
}
#btn
{
    background-color: rgb(13, 190, 51);
}
.btn1
{
    font-size: 15px;
    padding: 10px;
    background-color: brown;
}


.tudoitem1
{
   
    display: grid;
   grid-template-columns: 200px 150px 100px;
   column-gap: 10px;
   row-gap: 10px;
    margin-top: 10px;
   
    
    justify-content: center;

    text-align: center;
   

}